.navDark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-right: 2rem;
    background-color: rgb(0, 1, 36);
    & .navLink{
        color: white;
    }
    & .navLi::before{
        background-color: white;
    }
}
.navLight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-right: 2rem;
}

.navUl{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    list-style: none;
}

.navLink{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.navLi{
    position: relative;
}
.navLi::before{
    content: "";
    display: block;
    background-color: rgb(0, 0, 0);
    top: 25px;
    position: absolute;
    width: 0px;
    height: 2px;
}
.navLi:hover:before{
    width: 100%;
    transition: 0.5s;
}

.moon{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: rgb(0, 1, 36);;
    color: white;
    cursor: pointer;
}

.moon:hover{
    box-shadow: 0px 0px 2px 2px rgba(77, 77, 77, 0.3)
}

.sunny{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: black;
    cursor: pointer;
}

.sunny:hover{
    box-shadow: 0px 0px 2px 2px rgba(211, 211, 211, 0.1)
}

